In [87]:
import pandas as pd

In [88]:
df_games = pd.read_csv("../DataSets/games/games.csv")

In [89]:
df_games.shape

(26651, 21)

In [90]:
df_games.head(4)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1

In [91]:
df_games.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

In [92]:
df_games['SEASON'].unique()

array([2022, 2021, 2020, 2019, 2013, 2012, 2011, 2010, 2009, 2008, 2007,
       2006, 2005, 2004, 2003, 2018, 2017, 2016, 2015, 2014])

## ELIMINAMOS VARIABLES QUE NO APORTAN AL ANALISIS

In [93]:
# Eliminar una columna
df_games = df_games.drop(['GAME_ID','GAME_STATUS_TEXT','TEAM_ID_home'], axis=1)

Reorganizamos el dataframe

In [94]:
df_games.columns

Index(['GAME_DATE_EST', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'SEASON',
       'PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'TEAM_ID_away', 'PTS_away', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

In [95]:
# Eliminar una columna
df_games = df_games[['GAME_DATE_EST','SEASON','HOME_TEAM_ID', 'VISITOR_TEAM_ID','FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'TEAM_ID_away', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away','HOME_TEAM_WINS','PTS_home', 'PTS_away']]

In [96]:
df_games

,GAME_DATE_EST,SEASON,HOME_TEAM_ID,VISITOR_TEAM_ID,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,PTS_home,PTS_away
0,2022-12-22,2022,1610612740,1610612759,0.484,0.926,0.382,25.0,46.0,1610612759,0.478,0.815,0.321,23.0,44.0,1,126.0,117.0
1,2022-12-22,2022,1610612762,1610612764,0.488,0.952,0.457,16.0,40.0,1610612764,0.561,0.765,0.333,20.0,37.0,1,120.0,112.0
2,2022-12-21,2022,1610612739,1610612749,0.482,0.786,0.313,22.0,37.0,1610612749,0.470,0.682,0.433,20.0,46.0,1,114.0,106.0
3,2022-12-21,2022,1610612755,1610612765,0.441,0.909,0.297,27.0,49.0,1610612765,0.392,0.735,0.261,15.0,46.0,1,113.0,93.0
4,2022-12-21,2022,1610612737,1610612741,0.429,1.000,0.378,22.0,47.0,1610612741,0.500,0.773,0.292,20.0,47.0,0,108.0,110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,2014,1610612737,1610612740,0.419,0.821,0.421,24.0,50.0,1610612740,0.366,0.643,0.375,17.0,43.0,1,93.0,87.0
26647,2014-10-06,2014,1610612741,1610612764,0.338,0.719,0.381,18.0,40.0,1610612764,0.411,0.636,0.267,17.0,47.0,0,81.0,85.0
26648,2014-10-06,2014,1610612747,1610612743,0.448,0.682,0.500,29.0,45.0,1610612743,0.387,0.659,0.500,19.0,43.0,1,98.0,95.0
26649,2014-10-05,2014,1610612761,1610612758,0.440,0.771,0.333,21.0,30.0,1610612758,0.469,0.725,0.385,18.0,45.0,1,99.0,94.0
26650,2014-10-04,2014,1610612748,1610612740,0.431,0.679,0.333,18.0,42.0,1610612740,0.462,0.706,0.438,19.0,42.0,0,86.0,98.0

In [97]:
df_games['HOME_TEAM_ID'].unique().shape,df_games['VISITOR_TEAM_ID'].unique().shape

((30,), (30,))

miramos valores nulos

In [98]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26651 entries, 0 to 26650
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GAME_DATE_EST    26651 non-null  object
 1   SEASON           26651 non-null  int64
 2   HOME_TEAM_ID     26651 non-null  int64
 3   VISITOR_TEAM_ID  26651 non-null  int64
 4   FG_PCT_home      26552 non-null  float64
 5   FT_PCT_home      26552 non-null  float64
 6   FG3_PCT_home     26552 non-null  float64
 7   AST_home         26552 non-null  float64
 8   REB_home         26552 non-null  float64
 9   TEAM_ID_away     26651 non-null  int64
 10  FG_PCT_away      26552 non-null  float64
 11  FT_PCT_away      26552 non-null  float64
 12  FG3_PCT_away     26552 non-null  float64
 13  AST_away         26552 non-null  float64
 14  REB_away         26552 non-null  float64
 15  HOME_TEAM_WINS   26651 non-null  int64
 16  PTS_home         26552 non-null  float64
 17  PTS_away         26552 non-null  float64
dtypes: float64(12), int64(5), object(1)
memory usage: 3.7+ MB

In [99]:
df_games = df_games.dropna()  # Elimina filas con al menos un valor nulo

In [100]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26552 entries, 0 to 26650
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GAME_DATE_EST    26552 non-null  object
 1   SEASON           26552 non-null  int64
 2   HOME_TEAM_ID     26552 non-null  int64
 3   VISITOR_TEAM_ID  26552 non-null  int64
 4   FG_PCT_home      26552 non-null  float64
 5   FT_PCT_home      26552 non-null  float64
 6   FG3_PCT_home     26552 non-null  float64
 7   AST_home         26552 non-null  float64
 8   REB_home         26552 non-null  float64
 9   TEAM_ID_away     26552 non-null  int64
 10  FG_PCT_away      26552 non-null  float64
 11  FT_PCT_away      26552 non-null  float64
 12  FG3_PCT_away     26552 non-null  float64
 13  AST_away         26552 non-null  float64
 14  REB_away         26552 non-null  float64
 15  HOME_TEAM_WINS   26552 non-null  int64
 16  PTS_home         26552 non-null  float64
 17  PTS_away         26552 non-null  float64
dtypes: float64(12), int64(5), object(1)
memory usage: 3.8+ MB

Inicialmente no tomare como variables a utilizar los nombres de los equipos ya que seria agregar alrededor de 60 columnas nuevas al dataframe utilizando one-hot-encoding , mas bien agregaremos nuevas variables que enriquezcan el analisis como por ejemplo, Promedio de puntos anotados en los Ãºltimos n juegos como local y promedio como visitante, tasa de victorias en los ultimos juegos

ordenamos por temporada

In [101]:
# Convertir la columna 'fecha' a tipo datetime
df_games['GAME_DATE_EST'] = pd.to_datetime(df_games['GAME_DATE_EST'])

C:\Users\death\AppData\Local\Temp\ipykernel_34856\1014415803.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_games['GAME_DATE_EST'] = pd.to_datetime(df_games['GAME_DATE_EST'])

In [102]:
df_games = df_games.sort_values(['GAME_DATE_EST','HOME_TEAM_ID'])

In [103]:
df_games

,GAME_DATE_EST,SEASON,HOME_TEAM_ID,VISITOR_TEAM_ID,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,PTS_home,PTS_away
19288,2003-10-05,2003,1610612762,1610612742,0.457,0.735,0.143,23.0,41.0,1610612742,0.447,0.500,0.250,20.0,38.0,1,90.0,85.0
19287,2003-10-06,2003,1610612763,1610612749,0.494,0.618,0.267,25.0,48.0,1610612749,0.427,0.700,0.154,20.0,43.0,1,105.0,94.0
19282,2003-10-07,2003,1610612742,1610612753,0.488,0.667,0.167,20.0,52.0,1610612753,0.408,0.727,0.350,15.0,34.0,1,99.0,89.0
19284,2003-10-07,2003,1610612748,1610612755,0.352,0.647,0.222,15.0,55.0,1610612755,0.329,0.897,0.143,7.0,44.0,1,86.0,79.0
19283,2003-10-07,2003,1610612756,1610612751,0.333,0.781,0.133,17.0,43.0,1610612751,0.464,0.679,0.250,22.0,47.0,0,79.0,101.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,2022-12-21,2022,1610612755,1610612765,0.441,0.909,0.297,27.0,49.0,1610612765,0.392,0.735,0.261,15.0,46.0,1,113.0,93.0
11,2022-12-21,2022,1610612758,1610612747,0.505,0.750,0.362,29.0,46.0,1610612747,0.500,0.833,0.458,25.0,39.0,1,134.0,120.0
10,2022-12-21,2022,1610612760,1610612757,0.468,0.840,0.333,19.0,37.0,1610612757,0.494,0.667,0.389,29.0,36.0,1,101.0,98.0
0,2022-12-22,2022,1610612740,1610612759,0.484,0.926,0.382,25.0,46.0,1610612759,0.478,0.815,0.321,23.0,44.0,1,126.0,117.0
1,2022-12-22,2022,1610612762,1610612764,0.488,0.952,0.457,16.0,40.0,1610612764,0.561,0.765,0.333,20.0,37.0,1,120.0,112.0

In [104]:
# Crear promedios mÃ³viles para los Ãºltimos 5 juegos como equipo local
df_games['PTS_home_avg_last_5'] = (
    df_games.groupby('HOME_TEAM_ID')['PTS_home']
    .rolling(window=5, min_periods=1)
    .mean()
    .reset_index(0, drop=True)
)

# Crear promedios mÃ³viles para los Ãºltimos 5 juegos como equipo visitante
df_games['PTS_away_avg_last_5'] = (
    df_games.groupby('VISITOR_TEAM_ID')['PTS_away']
    .rolling(window=5, min_periods=1)
    .mean()
    .reset_index(0, drop=True)
)

In [106]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26552 entries, 19288 to 1
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   GAME_DATE_EST        26552 non-null  datetime64[ns]
 1   SEASON               26552 non-null  int64
 2   HOME_TEAM_ID         26552 non-null  int64
 3   VISITOR_TEAM_ID      26552 non-null  int64
 4   FG_PCT_home          26552 non-null  float64
 5   FT_PCT_home          26552 non-null  float64
 6   FG3_PCT_home         26552 non-null  float64
 7   AST_home             26552 non-null  float64
 8   REB_home             26552 non-null  float64
 9   TEAM_ID_away         26552 non-null  int64
 10  FG_PCT_away          26552 non-null  float64
 11  FT_PCT_away          26552 non-null  float64
 12  FG3_PCT_away         26552 non-null  float64
 13  AST_away             26552 non-null  float64
 14  REB_away             26552 non-null  float64
 15  HOME_TEAM_WINS       26552 non-null  int64
 16  PTS_home             26552 non-null  float64
 17  PTS_away             26552 non-null  float64
 18  PTS_home_avg_last_5  26552 non-null  float64
 19  PTS_away_avg_last_5  26552 non-null  float64
dtypes: datetime64[ns](1), float64(14), int64(5)
memory usage: 4.3 MB

Reorganizamos los datos

In [109]:
df_games.columns

Index(['GAME_DATE_EST', 'SEASON', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'TEAM_ID_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away', 'HOME_TEAM_WINS', 'PTS_home', 'PTS_away',
       'PTS_home_avg_last_5', 'PTS_away_avg_last_5'],
      dtype='object')

Eliminamos las columnas de home_team_id, visitor_team_id , game_data_est y season que nos pueden generar ruido, la idea de la tarea es predecir el score del local y visitante y por ende un porcentaje de victoria

teniendo encuenta la dinamica del partido que se presento, para ver si lo que paso en el partido era lo esperado segun las estadisticas

In [110]:
df_games = df_games[['FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'TEAM_ID_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away',
       'AST_away', 'REB_away', 'HOME_TEAM_WINS', 'PTS_home_avg_last_5', 'PTS_away_avg_last_5' ,'PTS_home', 'PTS_away'
       ]]

In [111]:
import numpy as np
from sklearn.model_selection import GridSearchCV, KFold
from sklearn.linear_model import LinearRegression, Lasso, ElasticNet, BayesianRidge
from sklearn.kernel_ridge import KernelRidge
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, make_scorer, r2_score

In [ ]:
# Dividir en caracterÃ­sticas y variables objetivo
X = df_games.drop(columns=['PTS_home', 'PTS_away'])
y = df_games[['PTS_home', 'PTS_away']]

# Configurar los modelos y sus hiperparÃ¡metros
models = {
    'LinearRegression': (LinearRegression(), {}),
    'Lasso': (Lasso(), {'alpha': [0.01, 0.1, 1, 10]}),
    'ElasticNet': (ElasticNet(), {'alpha': [0.01, 0.1, 1], 'l1_ratio': [0.2, 0.5, 0.8]}),
    'KernelRidge': (KernelRidge(), {'alpha': [0.1, 1, 10], 'kernel': ['linear', 'rbf']}),
    'SGDRegressor': (SGDRegressor(), {'alpha': [0.0001, 0.001, 0.01]}),
    'BayesianRidge': (BayesianRidge(), {}),
    'GaussianProcessRegressor': (GaussianProcessRegressor(), {}),
    'RandomForestRegressor': (RandomForestRegressor(), {'n_estimators': [50, 100, 200]}),
    'SVR': (SVR(), {'C': [0.1, 1, 10], 'kernel': ['linear', 'rbf']})
}

# Crear un diccionario para almacenar resultados
results = []

# ValidaciÃ³n cruzada
kf = KFold(n_splits=5, shuffle=True, random_state=42)
scoring = {
    'MAE': make_scorer(mean_absolute_error),
    'MSE': make_scorer(mean_squared_error),
    'R2': make_scorer(r2_score)
}

# Iterar por cada modelo y ajustar con GridSearchCV
for name, (model, params) in models.items():
    grid = GridSearchCV(estimator=model, param_grid=params, scoring=scoring, refit='MAE', cv=kf)
    grid.fit(X, y)
    
    # Obtener los mejores resultados
    best_model = grid.best_estimator_
    mae = grid.cv_results_['mean_test_MAE'][grid.best_index_]
    mse = grid.cv_results_['mean_test_MSE'][grid.best_index_]
    r2 = grid.cv_results_['mean_test_R2'][grid.best_index_]
    
    results.append({
        'Model': name,
        'Best Params': grid.best_params_,
        'MAE': mae,
        'MSE': mse,
        'R2': r2
    })

# Crear un DataFrame con los resultados
results_df = pd.DataFrame(results)

c:\Users\death\Doctorado\TAM\venv\Lib\site-packages\sklearn\linear_model\_ridge.py:254: UserWarning: Singular matrix in solving dual problem. Using least-squares solution instead.
  warnings.warn(